body,
			html {
				margin: auto;
				height: 100%;
				color: white;
				background: #000000;
			}
			#content {
				width:1200px;
				height: 400px;
				margin: 0 auto;
				padding: 20px;
				background: #000;
				/* border: 1px solid #666; */
				font-family: "黑体";
				font-size: 100px;
				color: #fff;
			}
			
			#schedule{
				font-size: 30px;
			}
			#form{
				font-size: 30px;
			}
			#center-in-center {
			    width: 1200px;
			    height: 400px;
			    background-color: black;
			    /*color: white;*/
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    -webkit-transform: translate(-50%, -50%);
			    -moz-transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			    -o-transform: translate(-50%, -50%);
			    transform: translate(-50%, -50%);
			}
			#button{
				background-color: black;
				border: 1px solid white;
				font-size: 18px;
				color: white;
				transition-duration: 0.4s;
			}
			#button:hover {
				background-color: white;
				color: black;
			}