html{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "微软雅黑";
}

#center-in-center {
    width: 800px;
    height: 300px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#first {
    color: lightslategrey;
    font-size: 70px;
    text-align: center;
}

#second {
    color: lightslategrey;
    font-size: 40px;
    text-align: center;
}

#third {
    color: lightslategrey;
    font-size: 30px;
    text-align: center;
}
#tail{
    position: absolute;
    top: 97%;
    width: 99%
}
#left{
    float: left;
    width: 25%;
}
#right{
    float: right;
    width: 25%;
}
#center{
    text-align: center;
    width: 49.8%;
    margin: 0 auto;
}
a{
    text-decoration:none;
    color: lightslategrey;
}
a:hover{
    text-decoration:underline
}