html {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "微软雅黑";
    color: white;
}
#verify_img{
    margin-top:  4px;
}
#center-in-center {
    width: 400px;
    height: 380px;
    background-color: black;
    /*color: white;*/
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#login_wrap {
    width:100%;
    min-width: 1300px;
    overflow: hidden;
    position: relative;
}

.login-box {
    width: 360px;
    height: 450px;
    position: absolute;
    top: 50px;
    right:170px;
    background: #fff;

}
.title {
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: black;
    color: white;
    border-bottom: 2px solid white;
    font-size: 22px;
    padding:0 30px;
}
.login_inner {
    overflow: hidden;
    background: black;
    padding: 10px 50px;
}

.alert {
    margin: 0 auto;
    padding: 6px 10px;
    border: 1px solid transparent;
    text-align: center;
    color: #a94442;
    background-color: black;
    border-color: black;
    margin-bottom: 3px;
    font-size: 12px;
}
.login_inner form{
    width: 100%;
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.login_inner input {
    display: inline-block;
    width: 246px;
    height: 26px;
    border: 1px solid white;
    font-size: 14px;
    color: white;
    background-color: black;
    line-height: 28px;
    padding: 6px 0 6px 12px;
    box-shadow: 0 0 5px white;
    outline: none;
    transition: box-shadow 0.25s linear 0s;
    -webkit-transition: box-shadow 0.25s linear 0s;
    margin-bottom: 17px;
}
.verify input {
    width: 95px;
    margin-right: 20px;
    float: left;
    margin-bottom: 0;
}

.submit_btn {
    margin-top: 20px;
    text-align: center;
}
.btn{
    width: 120px;
    height: 40px;
    background-color: black;
    text-align: center;
    line-height: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.auto_login {
    margin-top: 15px;
}
.submit_btn .checkbox {
    float: left;
    width: 17px;
    height: 17px;
    margin: 5px;
}
.submit_btn  span {
    float: left;
    line-height: 27px;
}


.reg {
    /*border-top: 1px solid #eeeeee;*/
    margin-top: 10px;
    width: 100%;
    height: 20px;
    color: white;
    line-height: 20px;
    background: black;
    text-align: center;
    font-size: 16px;
}
.reg a {
    color: white;
}
