html{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "微软雅黑";
    color: white;
}

#content {
    width: 100%;
    height: 720px;
    background-color: black;
}

#left{
    float: left;
}
#right{
    width: 20%;
    float: right;
}
#center{
    margin: 0px auto;
    text-align: left;
    /*width: 40%;*/
    height: 100%;
    border: 2px solid white;
}
#output{
    height: 95%;
    overflow: auto;
    border-bottom: 2px solid white;
    margin: 0 auto;
}
li{
    margin-top: 8px;
    margin-bottom: 2px;
    color: black;
    transition-duration: 0.4s;
}
li:hover{
    background-color: #a94442;
}
.en_txt{
    color: white;
    font-size: 20px;
    margin-right: 40px;
}
.cn_txt{
    color: white;
    font-size: 20px;
    margin-right: 20px;
}
#btns{
    height: 4.7%;
    text-align: center;
    overflow: auto;
}
.btn{
    /*margin: 5px;*/
    width: 32.5%;
    height: 100%;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
}
.error_btn{
    font-size:18px;
    background-color: black;
    color: white;
    border: 1px solid white;
    transition-duration: 0.4s;
}
.error_btn:hover {
    background-color: white;
    color: black;
}

.del_btn{
    font-size: 18px;
    background-color: black;
    color: white;
    border: 1px solid white;
    transition-duration: 0.4s;
}
.del_btn:hover {
    background-color: white;
    color: black;
}
