html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "微软雅黑";
}
.container {
	text-align: center;
	height: 730px;
	border: 2px solid white;
	}
.title{
	text-align: center;
	font-size: 35px;
	border-bottom: 1px solid white;
}
.button{
	text-align: center;
	width: auto;
	height: auto;
	font-size: 30px;
	margin: 20px;
	background-color: black;
	color: white;
	transition-duration: 0.4s;
}
.button:hover {
	background-color: white;
	color: black;
}


.container .left { 
	/* border: 1px solid white; */
	float: left; 
	width: 25%;
	height: 600px;
	}
.container .center {
	border-left: 1px solid white;
	border-right: 1px solid white;
	width: 49.8%;
	height: 100%;
	margin: 0 auto;
	}
.container .right {
	/* border: 1px solid white; */
	width: 25%;
	height: 720px;
	float: right;
}

#missions{
	font-size: 25px;
	height: 520px;
	overflow: auto;
	text-align: left;
}
#schedule{
	height: 520px;
	font-size: 20px;
	overflow: auto;
	text-align: left;
}
#setSchedule{
	border-top: 1px solid white;
	height: 120px;
	overflow: auto;
}
#setMission{
	border-top: 1px solid white;
	height: 110px;
	overflow: auto;
}
.txt{
	/*margin-top:33px;*/
	height: 30px;
	font-size: 15px;
	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 15px;
	margin-top: 15px;

}
.btn{
	height: 35px;
	width: 80px;
	font-size: 16px;
	margin-left: 9px;
	margin-bottom:5px;
}
#start{
	width: 50px;
}
#end{
	width: 50px;
}
li{
	transition-duration: 0.4s;
}
li:hover{
	background-color: dimgray;
}
